<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Saptak Sen loves programming, writing, speaking, traveling,
      breaking things and sometimes putting it back together. He does not love talking about himself in the
      3rd person.<br/>
      He worked as a product manager, software engineer, marketer at Amazon Web Services, Tetrate, Hortonworks, Microsoft,
      MyZus, AAL Infotech and other startups. <br/>
      Any intelligent system, whether it's a artificial intelligence system or a human system needs groundings to avoid hallucinating. <a href="https://gallery.saptak.in">Photography</a> and listening to customers keeps him grounded.
      <br/>
      For more info, check out his
      <a href="{{ site.nav.main.blog }}">blog posts</a>.
      <!--a href="{{ site.nav.main.speaking }}">speaking</a>,
      <a href="{{ site.nav.main.projects }}">projects</a>, and
      <a href="{{ site.nav.main.photos }}">photos</a-->
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
