<section role="pagination" class="clearfix center h5 gray mt4 mb3">
  {% if page.page_num and page.page_num > 1 %}
    {% assign prev_class="left button button-outline regular" %}
    {% if page.page_num == 2 %}
      <a href="/blog" title="Previous Page" class="{{ prev_class }}">&laquo; Newer Posts</a>
    {% else %}
      {% assign prev_page = page.page_num | minus: 1 %}
      <a href="/writing/page{{ prev_page }}/" title="Previous Page" class="{{ prev_class }}">&laquo; Newer Posts</a>
    {% endif %}
  {% elsif offset > 0 %}
    {% assign prev_class="left button button-outline regular" %}
    {% if offset <= posts_per_page %}
      <a href="/blog" title="Previous Page" class="{{ prev_class }}">&laquo; Newer Posts</a>
    {% else %}
      {% assign prev_page = page.page_num | minus: 1 %}
      <a href="/writing/page{{ prev_page }}/" title="Previous Page" class="{{ prev_class }}">&laquo; Newer Posts</a>
    {% endif %}
  {% else %}
    <div class="left px4">&nbsp;</div>
  {% endif %}

  <span class="button-height"> Page {{ page.page_num | default: 1 }} of {{ page_count }}</span>

  {% if page.page_num and page.page_num < page_count %}
    <a href="/writing/page{{ page.page_num | plus: 1 }}/" title="Next Page" class="right button button-outline regular">Older Posts &raquo;</a>
  {% elsif end_offset < total_posts %}
    {% assign next_page = page.page_num | default: 1 | plus: 1 %}
    <a href="/writing/page{{ next_page }}/" title="Next Page" class="right button button-outline regular">Older Posts &raquo;</a>
  {% endif %}
</section>
