<section class="bg-splash-gray px3 py3 border-top border-light-gray">
  <div class="container block p3">
    <a name="comments"></a>
    <h4>Comments</h4>
    <div id="disqus_thread"></div>
    <script>
    (function() {
      var cx = '007069857876288036852:0b2gkhh00ey';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
    </script>
    <gcse:search></gcse:search>
  </div>


  <div class="algorithmia-recommends"></div>
  <link rel="stylesheet" href="//algorithmia.com/assets/stylesheets/recommends.css">
  <script src="//algorithmia.com/assets/javascripts/algorithmia-recommends.js" data-apikey="simQPQE2X9F8ELPdSqzwA0Iva/F1" data-uuid="00d18ff5-0bed-4134-c1ee-bc3734985b12" data-timelimit-months=0></script>
</section>
