{% if page.include_comments %}
  <div class="algorithmia-recommends"></div>
  <link rel="stylesheet"href="//algorithmia.com/assets/stylesheets/recommends.css">
  <scriptsrc="//algorithmia.com/assets/javascripts/algorithmia-recommends.js" data-apikey="simQPQE2X9F8ELPdSqzwA0Iva/F1"data-uuid="763cf00e-7211-6231-c8b1-081f741488c2" data-timelimit-months=24></script>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'saptak';
    var disqus_identifier = '{{ page.id }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      {% if page.include_comments.embed %}
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      {% endif %}

      {% if page.include_comments.count %}
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      {% endif %}
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
