<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include share-meta.html %}
<link rel="canonical" href="{% include canonical-url.html %}">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ site.nav.writing.rss }}">
{% include favicon.html %}
{% include styles.html %}
<script src="//load.sumome.com/" data-sumo-site-id="b49b2276c652916249c300f15e94a8f692f635a2e2fc22dcbfb5ea7de36c5923" async="async"></script>

<![if lt IE 9]><script type="text/javascript">
    var s = document.createElement("script"); s.type = "text/javascript";s.src = "http://www.fundamine.com/fundamineannotate?fmrequestorurl="+window.location.href.split("?")[0];
    document.getElementsByTagName("head")[0].appendChild(s);
</script><![endif]>
