<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/dark-mode.js"></script>
<script type="text/javascript" src="/assets/js/nav-override.js"></script>
<script type="text/javascript" src="/assets/js/mobile-responsive-new.js"></script>
<script type="text/javascript" src="/assets/js/title-fix.js"></script>
<script type="text/javascript" src="/assets/js/tag-fix.js"></script>
<script type="text/javascript" src="/assets/js/inline-tags-fix.js"></script>
<script type="text/javascript" src="/assets/js/mobile-tag-fix.js"></script>
<script type="text/javascript" src="/assets/js/no-hamburger.js"></script>
<script type="text/javascript" src="/assets/js/direct-tag-fix.js"></script>
<script type="text/javascript" src="/assets/js/force-inline-tags.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mermaid@10.8.0/dist/mermaid.min.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize Mermaid
    mermaid.initialize({
      startOnLoad: false, // We'll manually render diagrams
      theme: document.documentElement.getAttribute('data-theme') === 'dark' ? 'dark' : 'default'
    });
    
    // Find all code blocks with language-mermaid class and render them
    document.querySelectorAll('pre code.language-mermaid').forEach(function(codeBlock) {
      // Create a div to replace the code block
      var div = document.createElement('div');
      div.className = 'mermaid';
      div.innerHTML = codeBlock.textContent;
      div.style.backgroundColor = 'transparent';
      
      // Replace the <pre><code> with the mermaid div
      var pre = codeBlock.parentNode;
      pre.parentNode.replaceChild(div, pre);
    });
    
    // Run the renderer
    mermaid.run();
  });
</script>
{% include disqus-scripts.html %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59342910-1', 'auto');
  ga('send', 'pageview');
</script>
{% if page.extra_scripts %}
  {% for script in page.extra_scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}
{% endif %}
