// Logo styling
.nav-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: auto !important;
  
  img {
    width: 50px; /* Increased logo size */
    height: auto;
    pointer-events: auto !important;
  }
  
  span {
    pointer-events: auto !important;
  }
}
