---
layout: default
title: "Saptak Sen: Blog"
nav_item: blog
nav_item_writing: all
header_title: Blog
include_header: blog_header.html
include_comments:
  count: true
---

{% include blog-writing-nav.html %}

{% assign posts_per_page = 10 %}
{% assign total_posts = site.posts.size %}
{% assign page_count = total_posts | divided_by: posts_per_page | plus: 1 %}

{% assign offset = 0 %}
{% if page.page_num %}
  {% assign offset = page.page_num | minus: 1 | times: posts_per_page %}
{% endif %}

{% assign end_offset = offset | plus: posts_per_page %}
{% if end_offset > total_posts %}
  {% assign end_offset = total_posts %}
{% endif %}

{% for i in (offset..end_offset) %}
  {% if i < total_posts %}
    {% assign post = site.posts[i] %}
    {% include blog-post-outline.html post=post %}
  {% endif %}
{% endfor %}

{% include blog-pagination.html %}
